<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automotora</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css'%}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Automotora</span>
    </nav>

    <div class="container div-card">
        <div class="card text-white bg-dark text-center">
                <div class="card-body">
                    <h5 class="card-title">Bienvenido a nuestra Web Automotora</h5>
                </div>
        </div>
    </div>

    <div class="div-card container">
        <div class="card">
            <div class="card-body">
                {% block content %}
                    <h3> Nuevo Vehiculo </h3>
                    <div class="form-group">
                        <form method="POST">
                        {% csrf_token %}
                        {{ formulario.as_p }}
                        <button type="submit" class="button btn btn-dark"> Almacenar </button>
                    </form>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>